@model IEnumerable<WebOperationViewer.ViewModels.LogConfigViewModel>

@{
    int rows = 1;
    int startcount = 0;
    ViewBag.Title = "LogConfig";
}

<h2>LogConfig</h2>

<div>
    <p>
        @using (Html.BeginForm("LogConfig", "Home", FormMethod.Post, new { id = "searchForm" }))
        {
            <b>Terminal ID : </b>
            <input type="text" id="searchlogconfig" name="searchlogconfig" placeholder="" />
            <input type="submit" name="submit" />
        }
    </p>

    <p>
        @using (Html.BeginForm("LogConfig", "Home", FormMethod.Post, new { id = "searchList" }))
        {
            <b>จำนวนวัน : </b>
            <select class="list365" id="list365" name = "list365" onchange="SelectedIndexChanged()">
            </select>
        }
    </p>

    <div>
        <a href="@Url.Action("LogConfig","Home")" style="color:crimson">Refresh Page</a>
        <a href="@Url.Action("ExportToExcelLogConfig","Home")">Download Excel</a>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        var $select = $(".list365");
        for (i = 1; i <= 365; i++) {
            $select.append($('<option></option>').val(i).html(i))
        }
    });
</script>

<script type="text/javascript">
    function submitList365() {
        document.getElementById('searchForm').submit();
    }
    function SelectedIndexChanged() {
        document.getElementById('searchList').submit();
    }
</script>

<table class="table">
    <tr>
        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.TERM_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TERM_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONFIG_DAY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UPDATE_DATE)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @(rows + startcount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TERM_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TERM_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CONFIG_DAY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UPDATE_DATE)
            </td>
        </tr>
        rows += 1;
    }

</table>
